*.env
!.sample.env
/pynance/app/data/cache/*
!/pynance/app/data/cache/.gitkeep
/pynance/app/data/static/*
!/pynance/app/data/static/.gitkeep
/pynance/app/data/common/*
!/pynance/app/data/common/.gitkeep
!/pynance/app/data/common/latex/*
/pynance/app/data/sql/*
!/pynance/app/data/sql/.gitkeep
/pynance/app/data/tests/*
*.pyc
/pynance/pynance_advisor.egg_info
/dist