*.env
!.sample.env
/src/scrilla/data/cache/*
!/src/scrilla/data/cache/.gitkeep
/src/scrilla/data/static/*
!/src/scrilla/data/static/.gitkeep
/src/scrilla/data/common/*
!/src/scrilla/data/common/.gitkeep
!/src/scrilla/data/common/latex/*
/src/scrilla/data/sql/*
!/src/scrilla/data/sql/.gitkeep
/src/scrilla/data/tests/*
*.pyc
/src/scrilla.egg-info/*
/dist
.vscode