*.env
!.sample.env
/scrilla/app/data/cache/*
!/scrilla/app/data/cache/.gitkeep
/scrilla/app/data/static/*
!/scrilla/app/data/static/.gitkeep
/scrilla/app/data/common/*
!/scrilla/app/data/common/.gitkeep
!/scrilla/app/data/common/latex/*
/scrilla/app/data/sql/*
!/scrilla/app/data/sql/.gitkeep
/scrilla/app/data/tests/*
*.pyc
/scrilla/scrilla_advisor.egg_info
/dist