# The query endpoint preloaded with the API key and time series interval.
AV_QUERY_URL="https://www.alphavantage.co/query?apikey=API_KEY_GOES_HERE&function=TIME_SERIES_DAILY&symbol"

# Setting this flag to True will enable more output during the program's operation.
DEBUG=False

# A flag that determines whether or not the program will output all portfolio allocations in terms of percentage or in absolute terms of the amount invested. If set to False, the program will output percentage allocation and stop. If set to True, the program will output percentage allocation and then prompt the user to enter the total amount invested in this portfolio. Based on the provided input, the program will approximate the portfolio that comes closest to this allocation in whole-numbered shares, i.e. no fractional shares are allowed in the portfolio.
PORTFOLIO_MODE=False