include src/scrilla/data/assets/*
include src/scrilla/data/meta/*
include src/scrilla/data/cache/*
include src/scrilla/data/common/.gitkeep 
include src/scrilla/data/static/.gitkeep
include src/scrilla/data/tmp/.gitkeep
include src/scrilla/gui/styles/*
include src/scrilla/gui/templates/*
include src/scrilla/version.txt
