# Build Dependencies
setuptools>=51.1.1
build>=0.6.0
twine>=3.4.2

# Dev Dependencies
pdoc3>=0.10.0
sphinx==4.3.0
myst-parser==0.15.2
pytest==6.2.5
coverage==6.1.2
httmock==1.4.0

# Application Dependencies
boto3>=1.24.12
numpy>=1.19.3
scipy>=1.7.1
matplotlib>=3.3.3
requests>=2.25.0
holidays>=0.10.4
python-dateutil>=2.8.2
defusedxml>=0.7.1
PySide2==5.15.2.1

# GUI Dependencies
PySide6==6.2.0
# YES, I KNOW. 
# Reason: the matplotlib plotting backend does not yet support PySide6, 
# and I want the GUI to be written in the latest version of PySide, so the 
# compromise is installing both versions of PySide so the plotting module
# and gui module both function properly.