/* You can add global styles to this file, and also import other style files */

/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css';*/
@import '@angular/material/prebuilt-themes/purple-green.css';
/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:rgb(148, 148, 148); }

.tab{background-color:rgb(97, 97, 97);}

p{ margin-top: 25px; margin-bottom: 25px; margin-right: 25px; margin-left: 25px; }
h1 { margin-left: 10px; }
h2 { margin-left: 20px; }

.box{ background-color:rgb(116, 116, 116); margin-left: 10px; margin-right:10px; margin-top:10px; margin-bottom:10px;}

.app-card { max-width: 600px; }
.app-card-nested { max-width: 450px; }

.fill-width { width: 100%; }
.fill-height { height: 100%; }
.squeeze-height { height: 75%; }
.squeeze-width { width: 75%; }

.indent { text-indent: 50px; }
.align-left{ text-align: left !important; }
.align-right{ text-align: right !important; }
.align-cetner{ text-align: center !important;}

.component-title { font-size: medium; }
.component-text { font-size: small; }
.component-note { font-size: x-small; }
.foot-note{ text-align: center; font-size:xx-small; }
.tab-text{ color:darkslategrey !important; }
.divide { border-top: 3px solid #bbb; }

.background { background-color:dimgray }
.center-tile{ width: 100% !important;display: flex !important; align-items: flex-start !important; }
