/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.indent { text-indent: 50px; }

.app-card { max-width: 600px; }
.app-card-nested { max-width: 450px; }

.fill-width { width: 100%; }
.fill-height { height: 100%; }

.align-left{ text-align: left; }
.align-right{ text-align: right; }

.foot-note{ text-align: center; font-size:xx-small; }

.divide { border-top: 3px solid #bbb; }
  