<mat-card class="mat-elevation-z2">
    <mat-card-title>Portfolio</mat-card-title>
    
    <mat-card-content>
        <!--TODO: Make portfolio component only responsible for displaying portfolio and allocations
                    i.e., remove app-args. Pass tickers into portfolio from parent component. In 
                    other words, Portfolio and Arguments component will be on same level. Parent
                    will listen for argument events on ArgumentsComponents and then call
                    set methods on PortfolioComponent. -->
        <table #portfolioTable mat-table [dataSource]="portfolio"  class="fill-width">

            <ng-container matColumnDef="ticker">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let holding"> {{holding.ticker}} </td>
            </ng-container>

            <ng-container matColumnDef="allocation">
                <th mat-header-cell *matHeaderCellDef> Allocation </th>
                <td mat-cell *matCellDef="let holding"> {{holding.allocation}} </td>
            </ng-container>

            <ng-container matColumnDef="shares">
                <th mat-header-cell *matHeaderCellDef> Shares </th>
                <td mat-cell *matCellDef="let holding"> {{holding.shares}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
        </table>

    </mat-card-content>
    
    <mat-card-actions class="align-right">
        <button mat-raised-button color="warn" [disabled]="clearDisabled" (click)="clearPortfolio()">Clear</button>
    </mat-card-actions>
</mat-card>
