<mat-tab-group>

    <mat-tab label="Portfolio Optimizer">
        <app-optimizer [explanationDisabled]="!explanations"></app-optimizer>
    </mat-tab>

    <mat-tab label="Efficient Frontier">
        Efficient Frontier Goes Here
    </mat-tab>

    <mat-tab label="Valuation Models">
        Discount Discount Model Goes Here
    </mat-tab>

    <mat-tab label="Settings">
        <mat-label>Enable widget explanations</mat-label>
        <mat-card>
            <mat-radio-group [(ngModel)]="explanations">
                <mat-radio-button value="true">On</mat-radio-button>
                <mat-radio-button value="off">Off</mat-radio-button>
            </mat-radio-group>
        </mat-card>
    </mat-tab>
</mat-tab-group>
