<mat-card id="frontier-card" class="background">
    <mat-card-title id="frontier-card-title" class="component-title">
        Portfolio Efficient Frontier</mat-card-title>
    <mat-card-content id="frontier-card-body">
        <app-args id="frontier-card-arguments" class="app-card" 
                [tickers]="true" [maxTickers]="null"
                [dates]="true" [target]="false"
                [investment]="true" [method]="false"
                (addTickers)="this.setTickers($event);"
                (addDates)="this.setDates($event)"
                (addInvestment)="this.setInvestment($event)"></app-args><br>
            
        <mat-tab-group headerPosition="below">
            <mat-tab *ngFor="let portfolio of frontier">
                <app-portfolio id="efficient-frontier-portfolio" class="app-card"
                                [tickers]="this.getTickers()" [allocations]="this.getAllocations(portfolio)" 
                                [shares]="this.getShares(portfolio)" [returns]="this.getReturns(portfolio)" 
                                [volatilities]="this.getVolatilities(portfolio)"
                                (clearEvent)="this.clear(); this.frontierDisabled=true;">
                </app-portfolio>
            </mat-tab>
        </mat-tab-group>

    </mat-card-content>

    <mat-card-actions id="frontier-card-actions" class="align-right">
        <button mat-raised-button color="primary" 
                [disabled]="frontierDisabled" (click)="calculate()">Calculate</button>
        <button mat-raised-button color="warn"
                [disabled]="clearDisabled" (click)="clear()">Clear</button>
    </mat-card-actions>
</mat-card>