<mat-card id="risk-profile-card" class="background">
    <mat-card-title id="risk-profile-card-title" class="component-title">
        Risk Return Profile</mat-card-title>

    <mat-card-content id="risk-profile-card-body">
        <app-args id="optimizer-card-arguments" class="app-card" 
                [tickers]="true" [maxTickers]="null"
                [dates]="true" [target]="false" 
                [investment]="false" [method]="false"
                (addTickers)="this.setTickers($event);"
                (addDates)="this.setDates($event)"></app-args><br>
        
        <!-- TODO: chip list uses portfolio, so when portfolio is overwritten 
                    by observable subscription, chips disappear-->
        <mat-card id="ticker-list" class="input box">
            <mat-card-title id="ticker-list-title" ></mat-card-title>
            <mat-chip-list #profileChipList color="primary">
                <mat-chip id="ticker-list-chip" 
                            *ngFor="let holding of portfolio" [selectable]="true"
                            [removable]="true" (removed)="removeHolding(holding)"> {{holding.ticker}} 
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-card>
        

        <mat-grid-list *ngIf="loaded" cols="2" rowHeight="200px">

            <mat-grid-tile id="risk-profile-image"
                            colspan="1" rowspan=2>
                <img *ngIf="loaded" mat-card-image [src]="img" id="risk-profile-image" 
                    alt="Risk Return Profile" width="100" height="400">
            </mat-grid-tile>

            <mat-grid-tile id="risk-profile-table" 
                            colspan="1" rowspan="2">
                
                <table #statisticsTable mat-table [dataSource]="portfolio" class="fill-width fill-height">
                    <ng-container matColumnDef="ticker">
                        <th mat-header-cell *matHeaderCellDef> Symbol </th>
                        <td mat-cell *matCellDef="let holding"> {{holding.ticker}} </td>
                    </ng-container>
                    <ng-container matColumnDef="return">
                        <th mat-header-cell *matHeaderCellDef> Return </th>
                        <td mat-cell *matCellDef="let holding"> {{holding.annual_return | number : '1.3-5' | percent : '1.3-5'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="volatility">
                        <th mat-header-cell *matHeaderCellDef> Volatility </th>
                        <td mat-cell *matCellDef="let holding"> {{holding.annual_volatility | number : '1.3-5' | percent : '1.3-5'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="sharpe">
                        <th mat-header-cell *matHeaderCellDef> Sharpe Ratio</th>
                        <td mat-cell *matCellDef="let holding"> {{holding.sharpe_ratio | number : '1.3-5' | percent : '1.3-5'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="beta">
                        <th mat-header-cell *matHeaderCellDef> Asset Beta</th>
                        <td mat-cell *matCellDef="let holding"> {{holding.asset_beta | number : '1.3-5' | percent : '1.3-5'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                </table>
            
            </mat-grid-tile>

        </mat-grid-list>

    </mat-card-content>

    <mat-progress-bar id="buffer-bar" *ngIf="loading" mode="buffer"></mat-progress-bar>

    <mat-card-actions id="risk-profile-card-actions" class="align-right">
        <button mat-raised-button color="primary" id="risk-profile-calculate-button"
                [disabled]="calculateDisabled" (click)="calculate()"> Calculate</button>
        <button mat-raised-button color="warn" id="risk-profile-clear-button"
                [disabled]="clearDisabled" (click)="clear()">Clear</button>
    </mat-card-actions>
</mat-card>

<div *ngIf="!explanationDisabled" id="risk-profile-explanation-panels">
    <div class="box text-background">
        <h1>Risk vs Return Primer</h1>

        <h2>Risk Return Calculation</h2>
            <p>
                TODO: explanation goes here
            </p>
        <h2>Capital Markets Line</h2>
            <p>
                TODO: explanation goes here
            </p>
        <h2>Market Premium</h2>
            <p>
                TODO: explanation goes here
            </p>
        <h2>Sharpe Ratio</h2>
            <p>
                TODO: explanation goes here
            </p>
    </div>
</div>