<mat-card class="app-card">
    <mat-card-title>Portfolio Optimizer</mat-card-title>
    
    <mat-card-subtitle>This widget allows you to create a custom portfolio and optimize its allocations 
        based on historical data over the specified data range.</mat-card-subtitle>
    
    <mat-card-content>
        <div id="portfolio-panel">
            <app-portfolio [allocations]="getAllocations()"></app-portfolio>
        </div>
    </mat-card-content>

    <mat-card-actions class="align-right">
   
        <button mat-raised-button color="primary" 
                [disabled]="optimizeDisabled" (click)="optimize()"> Optimize</button>
        <button mat-raised-button color="warn" 
                [disabled]="clearDisabled" (click)="clear()">Clear</button>
        
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="!explanationDisabled" id="explanation-panel">
    <mat-card-title>Portfolio Optimization Primer</mat-card-title>
    <mat-card-content>
        Explanation of portfolio optimization goes here.
    </mat-card-content>
</mat-card>