<mat-card id="optimizer-card">
    <mat-card-title id="optimizer-card-title" class="component-title">
        Portfolio Optimization</mat-card-title>
    <mat-card-content id="optimizer-card-body">
        <app-args id="optimizer-card-arguments" class="app-card" 
                [tickers]="true" [dates]="true" [target]="true" 
                [investment]="true" [method]="true"
                (addTickers)="portfolio.setTickers($event)"
                (addDates)="portfolio.setDates($event)"></app-args>

        <app-portfolio id="optimizer-card-portfolio" class="app-card" 
                [allocations]="getAllocations()"></app-portfolio>
    </mat-card-content>

    <mat-card-actions id="optimizer-card-actions" class="align-right">
        <button mat-raised-button color="primary" 
                [disabled]="optimizeDisabled" (click)="optimize()"> Optimize</button>
        <button mat-raised-button color="warn"
                [disabled]="clearDisabled" (click)="clear()">Clear</button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="!explanationDisabled" id="explanation-panel">
    <mat-card-title>Portfolio Optimization Primer</mat-card-title>
    <mat-card-content>
        Explanation of portfolio optimization goes here.
    </mat-card-content>
</mat-card>