<mat-tab-group class="tab">
    <mat-tab label="Risk Profile">
        <app-risk-profile [explanationDisabled]="!explanations"></app-risk-profile>
    </mat-tab>
    
    <mat-tab label="Portfolio Optimizer">
        <app-optimizer [explanationDisabled]="!explanations"></app-optimizer>
    </mat-tab>

    <mat-tab label="Efficient Frontier">
        <app-efficient-frontier [explanationDisabled]="!explanations"></app-efficient-frontier>
    </mat-tab>

    <mat-tab label="Valuation Models">
        <app-valuation [explanationDisabled]="!explanations"></app-valuation>
    </mat-tab>

    <mat-tab label="Settings">
        <mat-card>
            <!--TODO: use a slide toggle instead-->
            <mat-list role="list">
                <mat-list-item role="list-item">
                    <mat-label><mat-icon style="padding-right:15px;">build</mat-icon> Enable widget explanations: </mat-label>
                    <mat-radio-group [(ngModel)]="explanations">
                        <mat-radio-button [value]="true" >On</mat-radio-button>
                        <mat-radio-button [value]="false" >Off</mat-radio-button>
                    </mat-radio-group>
                </mat-list-item>
            </mat-list>
            
        </mat-card>
    </mat-tab>
</mat-tab-group>