#######################################################################################################
################################## APPLICATION CONFIGURATION ##########################################
#######################################################################################################
#   APP_ENV informs the application what environment it is running in. If running through Docker, please 
#   set to 'container. APP_ENV values: ("local", "container")
#   NOTE: Qt Widgets do not work in a containerized environment. If APP_ENV='container', all GUI 
#   functionality will be disabled. 
APP_ENV=local
#######################################################################################################
#### SERVICE CONFIGURATION 
#   PRICE_MANAGER, STAT_MANAGE, DIV_MANAGER: determines the service in charge of providing asset price, 
#       economic statistic and dividend payment histories, respectively.
#   PRICE_MANAGER values: ("alpha_vantage") TODO: polygon api!
#   STAT_MANAGER values: ("quandl") TODO: find more apis for econ data
#   DIV_MANAGER values: ("iex") TODO: 
PRICE_MANAGER=alpha_vantage
STAT_MANAGER=quandl
DIV_MANAGER=iex
#   ALPHA_VANTAGE_*: AlphaVantage endpoints and Key
ALPHA_VANTAGE_URL=https://www.alphavantage.co/query
ALPHA_VANTAGE_CRYPTO_META_URL=https://www.alphavantage.co/digital_currency_list/
ALPHA_VANTAGE_KEY=XXXXX
#   QUANDL_*: Quandl endpoints and Key
QUANDL_URL=https://www.quandl.com/api/v3/datasets
QUANDL_META_URL=https://www.quandl.com/api/v3/databases
QUANDL_KEY=XXXXX
#   IEX_*: IEX endpoints and key
IEX_URL=https://cloud.iexapis.com/stable/stock
IEX_KEY=XXXXX
#######################################################################################################
#### ALGORITHM CONFIGURATION
#   ITO_STEPS: Determines the number of segments into which the integration interval is divided during 
#               the calculation of Ito integrals.  
ITO_STEPS=10000
#   FRONTIER_STEPS: Determines the number of data points collected for a plot of a given portfolio's 
#               efficient frontier.
FRONTIER_STEPS=5
#   MA_*: Moving Average Periods (in days). NOTE: MA_1 < MA_2 < MA_3, or else the program will not 
#               function properly. POSSIBLE TODO: sort MAs application side in settings.py
MA_1=20
MA_2=60
MA_3=100
#   RISK_FREE_RATE: Determines which US Treasury Yield is used to discount risk free cash flows.
#       RISK_FREE_RATE values: ("ONE_MONTH", "THREE_MONTH", "SIX_MONTH", "ONE_YEAR", "THREE_YEAR", 
#                               "FIVE_YEAR", "TEN_YEAR", "THIRTY_YEAR")
RISK_FREE=ONE_YEAR
#   MARKET_PROXY: Determines which ticker symbol is used as a proxy for the market rate of return.
#       Suggested values: ("SPY", "QQQ")
MARKET_PROXY=SPY 
#   DEFAULT_ANALYSIS_PERIOD: The default number of days used in a historical sample of prices if no start 
#       date or end date are given by the user.     
DEFAULT_ANALYSIS_PERIOD=100
#   ANALYSIS_MODE: The asset price model assumed during the estimation of statistics. A value of "geometric"
#       corresponds geometric brownian motion model where the return is proportional to the asset price. The 
#       constant of proportionality is a random variable with a constant mean and volatility. A value of 
#       "reversion" refers to a mean reverting model where the return is proportional to the difference between
#       the asset price and a constant mean. The unit of proportionality is a random variable with constant mean
#       and volatility.
#   
#       Note, it is highly recommended that if you change this value, you should clear the cache, as the
#       cache stores frequent statistical calculations to speed up the program. The previous values of the
#       statistics calculated under the prior model will be referenced and result in incorrect calculations.
#
#       Possible TODO: tag the statistics in the cache with the model they were calculated with, so this
#       is no longer an issue.
ANALYSIS_MODE=geometric
#   ESTIMATION_METHOD: Determines the method used to calculate risk-return profiles. If set to 'moments',
#       the return and volatility will be estimated by setting them equal to the first and second sample moments.
#       If set to 'percents', the return and volatilty will be estimated by setting the 25th percentile and 75th 
#       percentile of the assumed distribution (see ANALYSIS_MODE) equal to the 25th and 75th percentile from the 
#       sample of data. If set to 'likely', the likelihood function calculated from the assumed distribution (see
#       ANALYSIS_MODE) will be maximized with respect to the return and volatility and the values which maximizes 
#       will be used as the estimates. 
DEFAULT_ESTIMATION_METHOD=moments
#######################################################################################################
#### FEATURE CONFIGURATION
# SQLITE_FILE: The location of the flat file for the SQLite database cache. Value must be the absolute path
#               of the file. If this variable is not set, the location defaults to the file found at
#               _installation directory_/data/cache/scrilla.db.
# SQLITE_FILE=/installation_dir/data/cache/scrilla.db
# RECURSION_ENABLED: EXPERIMENTAL. If set to True, statistics will be recursively calculated using formulas 
#       from the latest cached value of the statistic. NOTE: there is a slight, unaccounted for decimal 
#       drift occuring somewhere in the risk_return recursion calculation. Either the actual or the recursive is 
#       losing/gaining decimal places...Be warned, this is an experimental feature and may adversely
#       affect the program's output.
RECURSION_ENABLED=False
#######################################################################################################
#### APPLICATION CONFIGRURATION
#   LOG_LEVEL values = ("none", "info", "debug", "verbose").
LOG_LEVEL=info
#   FILE_EXT: determines how files are saved and loaded through the command line interface.
#       FILE_EXT values: ("json")
FILE_EXT=json
#######################################################################################################
#### GUI CONFIGRUATION
#   Overrides default GUI Width and Height
GUI_WIDTH=600
GUI_HEIGHT=300