<mat-card id="valuation-card" class="background">
    <mat-card-title id="valuation-card-title" class="component-title">
        Asset Valuation</mat-card-title>
    <mat-card-content id="valuation-card-body">
        <app-args id="valuation-card-arguments" class="app-card" 
                [tickers]="true" [maxTickers]="1"
                [model]="true"
                (addTickers)="this.setTickers($event)"></app-args><br>

        <mat-card id="ticker-list" class="input box">
            <mat-card-title id="ticker-list-title" ></mat-card-title>
            <mat-chip-list *ngIf="holding" #valuationChipList color="primary">
                <mat-chip id="ticker-list-chip" [selectable]="true"
                            [removable]="true" (removed)="removeHolding()"> {{this.holding.ticker}} 
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-card>
    </mat-card-content>

    <mat-card-actions id="valuation-card-actions" class="align-right">
        <button mat-raised-button color="primary" 
                [disabled]="calculateDisabled" (click)="calculate()">Evaluate</button>
        <button mat-raised-button color="warn"
                [disabled]="clearDisabled" (click)="clear()">Clear</button>
    </mat-card-actions>
</mat-card>